/* &display=swap */

@import "null.css";

@import url("https://fonts.googleapis.com/css2?family=Source+Serif+4:ital,wght@0,400;0,700;0,900;1,400&display=swap");

@font-face {
	font-family: "Laro";
	src: url("../fonts/Laro-Regular.woff2") format("woff2"), url("../fonts/Laro-Black.woff") format("woff");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Laro";
	src: url("../fonts/Laro-Black.woff2") format("woff2"), url("../fonts/Laro-Black.woff.woff") format("woff");
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Laro";
	src: url("../fonts/Laro-Bold.woff2") format("woff2"), url("../fonts/Laro-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

body {
	font-family: "Laro", sans-serif;
	font-size: 16px;
}
.header {
	text-align: center;
}
.title {
	color: #061d06;
	font-size: 30px;
	font-family: "Laro";
	font-weight: 700;
	text-shadow: 1px 1px 5px #000;
}

.header-img {
	margin: 20px 0 20px 0;
}

.text {
	font-family: "Source Serif 4", sans-serif;
	font-style: italic;
	color: #000;
	text-align: justify;
	word-spacing: 5px;
	margin-bottom: 20px;
}
.link {
	text-decoration: underline;
	color: #f03e3e;
}

.nav {
	margin-top: 30px;
}
.nav-subtitle {
	margin-bottom: 20px;
	text-transform: uppercase;
	letter-spacing: 5px;
}

.nav-list li {
	text-indent: 40px;
	line-height: 2;
}

.nav-list li a {
	text-decoration: underline;
	color: #ffffff;
	background-color: #000;
}

.section {
	margin-top: 30px;
}
.section__subtitle {
	text-transform: uppercase;
	background-color: yellow;
	text-align: center;
}
